/* Home Page */
.homepage {
    text-align: center;
}
.ui.grid {
    text-align: center;
    margin-top: 40px;
}

.yellow {
    font-size: 1.8rem;
    background-color: yellow;
    height: 300px;
    width: 300px;
    margin: auto;
}

.red {
    font-size: 1.8rem;
    background-color: red;
    height: 300px;
    width: 300px;
    margin: auto;
}
.link {
    padding-top: 70px;
}

.blue {
    font-size: 1.8rem;
    background-color: blue;
    height: 300px;
    width: 300px;
    margin: auto;
}
.link_color {
    color: black;
}

.green {
    font-size: 1.8rem;
    background-color: green;
    height: 300px;
    width: 300px;
    margin: auto;
}


.page {
    text-align: center;
    font-size: 3.8rem;
    font-weight: 800;
    margin: 50px;
}
.red_letters {
    color: red;
}
.yellow_letters {
    color: yellow;
}
.green_letters {
    color: green;
}
.blue_letters {
    color: blue;
}

.home_link {
    text-align: center;
    font-size: 1.8rem;
    margin: 20px;
}
